<nav class="navbar navbar-expand" style="background-color: rgba(33,37,41,255);">
    <div class="container-fluid">
        <a class="navbar-brand"><img [src]="imgUrl" alt="Logo" style="width: 30%; height: 30%;"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <!--<a class="nav-link active text-light" aria-current="page" href="#">Inicio</a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link text-light" href="#">Acerca de</a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link text-light" href="#">Contacto</a>-->
                </li>
            </ul>
            <button class="btn btn-danger" type="button" (click)="salir()"><i class="bi bi-power"></i></button>
        </div>
    </div>
</nav>