  <!--<header class="bg-gray-800 text-white py-6 fixed top-0 left-0 w-full z-10">
    <nav class="text-center">
      <ul class="flex justify-center space-x-8">
        <li><a href="#" class="text-lg hover:underline">Inicio</a></li>
        <li><a href="#" class="text-lg hover:underline">Sobre Nosotros</a></li>
        <li><a href="#" class="text-lg hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </header>-->
<header>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>