<header class="font-sans bg-gray-800 py-7 text-white w-full fixed top-0 left-0 z-[1000]">
    <nav>
      <ul class="list-none p-0 m-0 text-center">
        <li class="inline-block mr-7"><a href="#" class="text-white no-underline text-lg hover:underline">Inicio</a></li>
        <li class="inline-block mr-7"><a href="#" class="text-white no-underline text-lg hover:underline">Sobre Nosotros</a></li>
        <li class="inline-block mr-7"><a href="#" class="text-white no-underline text-lg hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </header>