<!--<h1 style="color: crimson; text-align: center;"> - Componentes y templates - </h1>
<app-header></app-header>
<hr>
<app-footer></app-footer>
<hr>
<app-btn></app-btn>
<hr>
<app-link></app-link>
<hr>
<app-user-card></app-user-card>
<hr>
<h1 style="color: crimson; text-align: center;"> - Data binding - </h1>
<app-product-card></app-product-card>
<app-product-card-v2></app-product-card-v2>
<app-product-card-v3></app-product-card-v3>
<app-product-card-v4></app-product-card-v4>
<h1 style="color: crimson; text-align: center;"> - Directives - </h1>
<h1>Attribute Directives (el header de la página)</h1>
<hr>
<h1>Structural directices (ngFor, ngIf, ngSwitch)</h1>-->
<!-- Módulo únicamente de los productos por separado -->
<!--<app-products></app-products>-->

<app-header></app-header>
<router-outlet></router-outlet>
